:root {

}

body,
html {
    height: 100%;
}

img {
    width: 100%;
}

#video-grid {
    display: grid;
    grid-row: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

body {
    /* background-color: aqua; */
}